.boton {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 15px;
    background-color: #0074D9;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* Cambia el color del botón cuando se pasa el mouse por encima */
.boton:hover {
    background-color: #10f778;
    color: rgb(0, 0, 0);
}

.boton:active {
    background-color: #f7c110;
    color: rgb(101, 212, 237);
}

/* Contenedor para los botones */
.botones-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Estilo para dividir en 4 filas */
.fila {
    display: flex;
    justify-content: center;
}

/* Estilo para cada fila */
.fila:nth-child(even) {
    margin-top: 20px; /* Espacio entre filas */
}

.home-button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 100%;
    text-decoration: none; 
}

.home-button:hover {
    background-color: #3d3d3d;
}
